@model BugTracker1.Models.ProjectDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projects.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.Name)
        </dd>

        <dt>
            Project Manager
        </dt>

        @if (Model.ProjectManager == null)
        {
            <dd></dd>
        }
        else
        {
            @Model.ProjectManager.FullName
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Projects.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>  